
@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h3, h4, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Global styling start here */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:'Futura Bold', sans-serif;
}

ul,li {list-style: none;}
a {text-decoration: none;}
body {
  /* background-color: aliceblue;  */
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  max-width: 1366px;
  width: 85%;
  margin: 0 auto;
}

/* Global styling End here */

/* ==========================================================================
  1. header start here
========================================================================== */
header {
  padding: 10px 0;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.search-notification {
  display: flex;
  align-items: center;
}

.search-location{
  /* border: 1px solid #000; */
}

input[type="search"] {
  outline: none;
  border: none;
  background-color: #f1f0f5;
  padding: 15px;
  border-radius: 20px;
  color: #585859;
}

/* input[type="submit"] {
  outline: none;
  border: none;
  text-indent: 0; 
  position: relative;
}  */

/* input[type="submit"]::after {
  content: "new";
  font-family: "FontAwesome";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  color: #000;
  z-index: 5;
}  */

h1 span {
  display: block;
  font-size: 25px;
  font-weight: 500;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

.enable-notify {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.enable-notify::after {
  height: 100%;
  width: 100% ;
  float: left;
  font-family: "FontAwesome";
  content: "\f0f3";
  text-indent: 0;
  font-size: 25px;
  color: #585859;
  background-color: #f1f0f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==========================================================================
  1. header End here
========================================================================== */

/* ==========================================================================
  2. Wheather info start here
========================================================================== */
.wheather-info .wrapper {
  display: flex;
  gap: 2%;
}

.display-title {
  display: flex;
  gap: 5%;
  align-items: center;
}

.title-figure {
  background-color: #fff;
  border-radius: 50%;
}

.title-figure img{
  object-fit: cover;
  max-width: 30px;
  max-height: 30px ;
  margin: 10px auto 0;
}

.temprature {
  display: flex;
  margin: 30px 0;
}

.temp-status {
  display: block;
  font-size: 15px;
}


.temp-celcius {
  font-size: 35px;
  font-weight: 700;
}

.wheather-properties {
  display: flex;
  gap: 8%;
}

.property-list {
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  color: #f1f0f5;
  background-color: #1a2841;
  font-weight: 600;
}

.visibility {
  background-color: #cbe16a;
  color: #000;
}

.humidity {
  background-color: #fff;
  color: #000;
}

.property-list span {
  display: block;
}

.display-title figure {
  flex-basis: 8%;
  height: 100%;
}

.main-txt {
  display: block;
  font-size: 25px;
  font-weight: 600;
}

.small-txt {
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.wheather-display {
  background: url("../img/coludy.jpg") no-repeat ;
  background-size: cover;
  flex-basis: 50%;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
}

.air-quality-section {
  background: url("../img/desertjpg.jpg");
  flex-basis: 50%;
  padding: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.fresh-air {
  display: flex;
  margin: 30px 0;
}



.wind-direction {
  display: block;
  font-size: 15px;
}

.aqi-unit {
  max-height: 30px;
  height: 100%;
  padding: 5px;
  border-radius: 4px;
  font-weight: 700;
  background-color: #cddf76;
}


.air-quality {
  font-size: 35px;
  font-weight: 700;
}


.air-range {
  display: flex;
  justify-content: space-between;
}

.air-status {
  background-color: #fff;
  padding: 10px 25px 25px;
  border-radius: 10px;
}

.range {
  display: block;
  background-color:#e7e7ef;
  height: 5px;
  border-radius: 30px;
}

.actual-range {
  display: block;
  background-color: #ed6c16;
  height: 5px;
  width: 45%;
}

.range-list {
  padding: 10px 10px 30px;
  border-radius: 10px;
}

.standard {
  clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 67%, 59% 68%, 51% 78%, 43% 68%, 0 67%);
  background-color: #1a2841;
  color: #fff;
}

/* ==========================================================================
  2. Wheather info end here
========================================================================== */